<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
<_locDefinition xmlns="urn:locstudio">
    <_locDefault _loc="locNone" />
    <_locTag _loc="locData">Title</_locTag>
    <_locTag _loc="locData">Description</_locTag>
    <_locTag _loc="locData">Author</_locTag>
    <_locTag _loc="locData">ToolTip</_locTag>
</_locDefinition>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>BlitzLock</Title>
			<Shortcut></Shortcut>
			<Description>sp_BlitzLock</Description>
			<Author>dbabyday</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="SQL"><![CDATA[
declare
	  @myStartDate datetime = null -- convert(datetime,'2024-04-16 00:00:00',120) -- dateadd(day,-1,getdate())
	, @myEndDate   datetime = null -- convert(datetime,'2024-04-17 00:00:00',120) -- dateadd(day,0,getdate())

execute sp_BlitzLock
	  @StartDate=@myStartDate
	, @EndDate=@myEndDate;
]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>
