<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
<_locDefinition xmlns="urn:locstudio">
    <_locDefault _loc="locNone" />
    <_locTag _loc="locData">Title</_locTag>
    <_locTag _loc="locData">Description</_locTag>
    <_locTag _loc="locData">Author</_locTag>
    <_locTag _loc="locData">ToolTip</_locTag>
</_locDefinition>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Status Message</Title>
			<Shortcut></Shortcut>
			<Description>CentralAdmin.dbo.raiserror_time</Description>
			<Author>James Lutsey</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
                <Literal>
                	<ID>MessageString</ID>
                	<ToolTip>The message to display</ToolTip>
                    <Default>XXXXXXXXXXXXXXXXXXX</Default>
                </Literal>
			</Declarations>
			<Code Language="SQL"><![CDATA[/*status message*/ execute CentralAdmin.dbo.raiserror_time @p_msg_str=N'$MessageString$';]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>
