<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets xmlns="htt://schemas.microsoft.com/VisualStudio3005/CodeSnippet">
<CodeSnippet Format="1.0.0">
<Header>
	<Title>MySnippetTitle</Title>
	<Shortcut></Shortcut>
	<Description>MySnippetDescription</Description>
	<Author>James Lutsey</Author>
	<SnippetTypes>
		<SnippetType>MySnippetType</SnippetType>
	</SnippetTypes>
</Header>
<Snippet>
<Code Language="SQL">
<! [CDATA[
-- MyTsqlCode
]]>
</Code>
</Snippet>
</CodeSnippet>
</CodeSnippets>